<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div  id="wrapper">
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" th:object="${user}">
        <div>
            <label th:for="username">Username</label>
            <input th:field="*{username}"  />
            <span th:errors="*{username}" class="error"></span>
        </div>
        <div>
            <label th:for="email">Email</label>
            <input th:field="*{email}" type="email" />
            <span th:errors="*{email}" class="error"></span>
        </div>
        <div>
            <label th:for="password">Password</label>
            <input th:field="*{password}" type="password" />
            <span th:errors="*{password}" class="error"></span>
        </div>
        <div>
            <label th:for="password">Verify</label>
            <input type="password" name="verify" />
        </div>
        <span th:text="${message}"></span>
        <br>
        <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>