<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div  id="wrapper">
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" th:object="${user}">
        <table>
            <tr>
                <td>
                    <label th:for="username">Username</label>
                </td>
                <td>
                    <input th:field="*{username}"  />
                </td>
                <td>
                    <span th:errors="*{username}" class="error"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:for="email">Email</label>
                </td>
                <td>
                    <input th:field="*{email}" type="email" />
                </td>
                <td>
                    <span th:errors="*{email}" class="error"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:for="password">Password</label>
                </td>
                <td>
                    <input th:field="*{password}" type="password" />
                </td>
                <td>
                    <span th:errors="*{password}" class="error"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:for="password">Verify</label>
                </td>
                <td>
                    <input type="password" name="verify" />
                </td>
            </tr>
        </table>
        <span th:text="${message}"></span>
        <br>
        <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>